opencv-python
matplotlib
scikit-image
imageio
torchsummary
tensorboardX
pyrealsense2
Pillow
prettytable
ipykernel
ftfy
regex
tqdm
altair==4.0.0
streamlit==1.11.0
protobuf==3.20.3
timm
test-tube
wandb
torchmetrics==0.7.0
pytorch-lightning==1.9.0